.event-container {
  width: 100%;
  background-color: var(--background-dark);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.event-header {
  width: 100%;
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 12px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.event-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 160px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.event-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.event-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--secondary-color), transparent);
  color: var(--text-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;

}

.event-description {
  font-size: 0.9rem;
}

.more-button {
  position: relative;
  background-color: var(--accent-color);
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 999px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
} 
