.student-homepage {
  width: 100%;
  margin: 0;
  background-color: var(--background-dark);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
}

.home-card {
  width: auto;
  background-color: #fff;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}

.studio-intro-card {
  border-radius: 0px 0px 10px 10px;
}

.studio-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.studio-logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 12px;
}

.studio-info .studio-name {
  font-weight: bold;
  font-size: 16px;
}

.studio-contact {
  color: #666;
  font-size: 13px;
  margin-top: 2px;
}

.studio-status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.badge.closed {
  background-color: var(--warning-color);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 8px;
}

.badge.open {
  background-color: var(--success-color);
}

.studio-time {
  color: #333;
  font-size: 13px;
  flex: 1;
}

.studio-detail {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.studio-phone,
.studio-address {
  margin-bottom: 6px;
}

.studio-social {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-icon-btn {
  border: none;
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.social-icon-btn.whatsapp {
  background-color: #cff3e5;
}

.social-icon.whatsapp {
  color: #00c2c2;
  font-size: 1.2rem;
}

.social-icon-btn.insta {
  background-color: #eb92cb;
}

.social-icon.insta {
  color: #fff;
  font-size: 1rem;
}
.social-icon-btn.facebook {
  background-color: #8ab2e7;
}

.social-icon.facebook {
  color: #fff;
  font-size: 1.3rem;
}
.balance-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
}

.balance-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  color: var(--text-color);
  width: 50%;
}

.balance-box.right {
  border-left: 1px solid var(--text-muted);
}

.balance-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.balance-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.join-us {
  border:none;
  background: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px;
  font-style: italic;
  color: var(--accent-color);
  text-decoration: underline;
}

.appointment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
}

.appointment-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.appointment-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.courses-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
}

.courses-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.courses-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.appointment-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-card {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.course-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.course-overlay {
  position: absolute;
  inset: 0;
  padding: 16px;
  background: linear-gradient(to right, var(--secondary-color), transparent);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.course-info,
.course-duration,
.course-difficulty {
  margin: 4px 0;
  font-size: 0.9rem;
}

.star {
  color: #000;
  margin-left: 4px;
  font-size: 16px;
}

.star-filled {
  color: gold;
  margin-left: 4px;
  font-size: 16px;
}

.book-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: var(--accent-color);
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 999px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.course-tag {
  position: absolute;
  top: 8px;
  right: 12px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 6px;
}
