.schedule-container {
  width: 100%;
  margin: 0;
  background-color: var(--background-dark);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;

  .schedule-card {
    width: 100%;
    background-color: var(--background-light);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .schedule-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap:2px;
  }
  .schedule-calendar-button {
    width: auto;
    height: auto;
    background: none;
    border: none;
  }
  .schedule-calendar-icon {
    font-size: 1.5rem;
    color: #b30988;
  }

  /* 日期选择条 */
  .date-strip {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    border-radius: 12px;
    padding: 10px 12px;

    overflow-x: auto;
    gap: 8px;
  }

  .date-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 42px;
    height: 56px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    cursor: pointer;
    color: var(--text-color);
    flex-shrink: 0;
  }

  .date-item.active {
    background-color: var(--text-color);
    color: white;
  }

  .day-number {
    font-weight: bold;
    font-size: 18px;
  }

  .day-week {
    font-size: 12px;
  }

  /* 课程卡片 */
  .course-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px;
  }

  .course-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    height: 160px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .course-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .course-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, var(--secondary-color), transparent);
    color: var(--text-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .course-time {
    font-size: 14px;
    font-weight: bold;
  }

  .course-title {
    font-size: 18px;
    font-weight: bold;
  }

  .course-info {
    font-size: 14px;
    color: var(--text-color);
  }

  .course-difficulty {
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .star {
    color: #000;
    margin-left: 4px;
    font-size: 16px;
  }

  .star.filled {
    color: gold
  }

  .course-attend {
    font-size: 14px;
  }

  .book-button {
    position:absolute;
    right:15px;
    bottom: 15px;
    background-color: var(--accent-color);
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 999px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
}
