html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* 防止横向滚动 */
}

#root {
  height: 100%;
  width: 100%;
  font-family: "open-sans";

  --primary-color: #d369ce;
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --accent-color: #ff5722;
}

button {
  cursor: pointer;
}

.construction {
  display: flex;
  /* inset: 0; */
  height: 100svh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  gap: 50px;

  button{
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #fbecfb;

  }
}
